@media (min-width: 320px) {
  .input_name {
    font-size: 11px;
  }

  .head_text {
    width: 90%;
    margin: 20px 0 0 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 18px;
    line-height: 26px;
  }

  .logotype {
    width: 100%;
  }
}